* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
  color: white;
  cursor: url('../assets/smi268_page_01.png') 3 3, auto;
}

.scroll-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 20px; /* 바 두께 */
  width: 0%;
  background: linear-gradient(90deg, black);
  z-index: 9999;
  transition: width 0.1s linear;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 19000px;
  background: whitesmoke;
  z-index: -1;
}

fieldset {
  padding: 0 10px 10px 10px;
}

#map {
  position: fixed;
  top: 16px;
  right: 20px;
  width: 40px;
  height: 750px;
}

legend {
  display: block;
  unicode-bidi: isolate;
  padding-inline: 2px;
  text-align: center;
}

#map img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 40%;
  opacity: 0.5;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}
