* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
  cursor: cell;
  -webkit-font-smoothing: antialiased;
}
.marquee_header {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
  position: relative;
}

.marquee_inner {
  display: flex;
  width: max-content;
  font-size: 13px;
  letter-spacing: 3px;
  animation: marquee 20s linear infinite;
  white-space: nowrap;
}

.marquee_inner span {
  display: inline-block;
  padding-right: 2rem;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

#a {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100vw;
  border-bottom: 4px solid black;
}

.intro {
  flex: auto;
  cursor: s-resize;
  width: 22%;
  height: 60vh;
  overflow-y: scroll;
  text-align: justify;
  padding: 1em 0 1em 1em;
}

.profile {
  flex: auto;
  cursor: ns-resize;
  padding: 1em 1em 1em 1em;
  width: 75%;
  height: 60vh;
  overflow: scroll;
  text-align: center;
}

h1 {
  font-size: 4em;
  font-family: 'concern';
  font-style: normal;
  text-align: right;
  line-height: 0.8em;
  padding-right: 5px;
}

h2 {
  font-size: 1.1em;
  line-height: 1.5em;
  font-family: 'concern';
  font-style: normal;
  margin-top: 15px;
  padding: 5px 5px 0 0;
  display: block;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

table {
  border-collapse: collapse;
  box-sizing: border-box;
  width: 100%;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}

th {
  font-size: 1.2em;
  font-style: bold;
  border: 2px black;
  border-style: solid;
  padding: 10px;
  display: table-cell;
  vertical-align: inherit;
  unicode-bidi: isolate;
}

th:hover {
  background: black;
  color: white;
}

td {
  border: 2px solid black;
  text-align: center;
  font-style: normal;
  font-size: 1.1em;
  line-height: 1.5em;
}

tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
}

td.photo {
  width: 150px;
  height: 150px;
  text-align: center;
  vertical-align: middle;
}

td.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

#b {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

div {
  display: block;
  unicode-bidi: isolate;
}

.whitespace {
  min-width: 25vw;
}

.video {
  width: 40vw;
  padding-left: 1em;
}

.underimg {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-right: 1rem;
}

.underimg img {
  justify-content: space-between;
  width: auto;
  height: 20vh;
  max-height: 100%;
  margin-left: 0.4em;
  margin-bottom: 0.4em;
}
